{% extends "indexR.html" %} 

{% load static %}

{% block titulo %}

<h1 class="mb-5" style= "font-size: 50px; text-align: center; color: white;"  > Editando Posteo {{ posteo }}</h1>
{% if mensaje %} 

    <h1 class="mb-5"> {{ mensaje }}  </h1>

{% endif %}
{% endblock %}

{% block contenido_que_cambia %}
<div class="container px-4 px-lg-5">
    <div class="justify-content-center">
        <div class=" justify-content-center">
            <div class="post-preview">
               

                <form action="{% url 'editarPosteos' posteo.id %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                    
                    <table width="100%" style="border: 4px double grey; text-align: left; background-color: lightblue;">
                    
                        <th> {{ form.as_p  }}</th>
                        <th> {{ form.media }}</th>
                    </div>
                    </table>
            
                    <div class="form-group">
                    <input type="submit" value="Guardar Cambios">
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}