{% extends "index.html" %} <!--ahora inicio sos hijo de template index "extends" lo hace heredar MIN.28.C20-->

{% load static %} <!--siempre se cargan los estaticos-->

{% block titulo %}<!--adentro de donde tu papa (padre) tiene el 'bloque titulo'(block titulo) -->

<h1>Fitness Blog</h1>  <!--busca el bloque titulo en padre y pone ese mensaje-->
<span class="subheading">El blog perfecto para tus entrenamientos</span> <!--viene del return de la view-->

{% endblock %}<!--fin de bloque-->

{% block contenido_que_cambia %}
<!-- Main Content-->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <!-- Post 1 preview-->
                <br>
                <div class="post-preview">
                    {% if post1 %}
                    <a href="{% url 'post' post1.id %}">
                        <h2 class="post-title">{{ post1.titulo }}</h2>
                        <h4 class="post-subtitle">{{ post1.subtitulo }}</h3>
                    </a>
                    <p class="post-meta">
                        Publicado por {{ post1.autor }}
                        en {{ post1.fecha}}
                    </p>
                    {% else %}
                    <h2 class="post-title">¿Que esperas para postear tu rutina?</h2>
                    {% endif %}
                </div>
                <!-- Divider-->
                <hr class="my-4" />
                <!-- Post 2 preview-->
                <div class="post-preview">
                    {% if post2 %}
                    <a href="{% url 'post' post2.id %}">
                        <h2 class="post-title">{{ post2.titulo }}</h2>
                        <h4 class="post-subtitle">{{ post2.subtitulo }}</h3>
                    </a>
                    <p class="post-meta">
                        Publicado por {{ post2.autor }}
                        en {{ post2.fecha}}
                    </p>
                    {% endif %}
                </div>
                <!-- Divider-->
                <hr class="my-4" />
                <!-- Post 3 preview-->
                <div class="post-preview">
                    {% if post3 %}
                    <a href="{% url 'post' post3.id %}">
                        <h2 class="post-title">{{ post3.titulo }}</h2>
                        <h4 class="post-subtitle">{{ post3.subtitulo }}</h3>
                    </a>
                    <p class="post-meta">
                        Publicado por {{ post3.autor }}
                        en {{ post3.fecha}}
                    </p>
                    {% endif %}
                </div>
                <!-- Divider-->
                <hr class="my-4" />
                <!-- Post 4 preview-->
                <div class="post-preview">
                    {% if post4 %}
                    <a href="{% url 'post' post4.id %}">
                        <h2 class="post-title">{{ post4.titulo }}</h2>
                        <h4 class="post-subtitle">{{ post4.subtitulo }}</h3>
                    </a>
                    <p class="post-meta">
                        Publicado por {{ post4.autor }}
                        en {{ post4.fecha}}
                    </p>
                    {% endif %}
                </div>
                <!-- Divider-->
                <hr class="my-4" />
                <!-- Pager-->
                <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="{% url 'posteos' %}">Ver todas→</a></div>
            </div>
        </div>
    </div>
{% endblock %}