{% extends "index.html" %}

{% load static %}

{% block contenido_que_cambia %}
<!-- Ejecuta un For la cantidad de veces que blogs tenga objetos; Si no hay objetos, dice que no hay aun objetos creados-->
    {% if posteos %}  <!-- IF--> 
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    {% for post in posteos %}     <!-- FOR Post dinamico-->  
                        <hr class="my-4" /> 
                        <div class="post-preview"> 
                            <a href="{% url 'post' post.id %}">
                                <h2 class="post-title">{{ post.titulo }}</h2>
                                <h4 class="post-subtitle">{{ post.subtitulo }}</h3>
                            </a>
                            <p class="post-meta">
                                Publicado por {{ post.autor }}
                                en {{ post.fecha }}
                                {{ mensaje }}
                            </p>
                            <a class="btn btn-danger" href="{% url 'eliminarPost' post.id %}">Borrar</a>
                            <a class="btn btn-success" href="{% url 'editarPosteos' post.id %}">Editar</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}  <!-- ELSE IF--> 
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <br>
                <h2> No hay publicaciones para mostrar. </h2>
            </div>
        </div>
    </div>        
    {% endif %}

{% endblock %}
