{% extends "indexR.html" %}

{% load static %}

{% block titulo %}
<h2 class="mb-5" style= "font-size: 50px; text-align: center; color: white;"> Postee su Rutina Favorita</h2>
{% endblock %}

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Posteo Rutina</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>

<body>
    {% block contenido_que_cambia %}
            
    <!-- Page Header -->

    <div class="container px-4 px-lg-5">
        <div class="justify-content-center">
            <div class=" justify-content-center">
               
                <div class="post-preview">
                     {% if mensaje %} 
                     <p>
                        {{ mensaje }}
                     </p>
                     {% endif %}
                    
                    <form action="{% url 'posteoForm'%}" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                        <div class="formatotabla">
                        <table width="100%">
                            <th>  {{ form.as_p  }}</th>
                            <td>  {{ form.media }}</td>
                        </table>
                        </div>
                        <style>
                              .formatotabla table {
                                     border: 4px double;
                                     background-color: lightblue;
                                     text-align: left;
                                                  }
                            
                        </style>
                       
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-block" value="Subir">
                            
                        </div>
                    </form>
                </div>
        </div>
    </div>        

    {% endblock %}
</body>
</html>