{% extends "inicioChat.html" %} 

{% load static %}

{% block titulo %}
<h2 style="color:red" >Mensajes </h2>
{% endblock %}

{% block contenido_que_cambia %}

<h4 class="text-black-50" style="text-align: center;">Listado de mensajes recibidos</h4>
<style>
    th, td {
        border: 1px solid black;
    }
</style>

<table width="100%" style="border: 2px solid blue;">
    <tr>
        <th>De:      </th> 
        <!-- <th>Para:       </th> -->
        <th>Mensajes:   </th>

        <th>Hora        </th>

        <th>Leido       </th>
    </tr>
    {% for indice in mensajes %}
    <tr>
        <td>{{ indice.enviar }}</td>
        <!-- <td> {{ indice.recibir }}</td> -->
        <td style="text-align: left;">{{ indice.mensaje }}</td>
        <td>{{ indice.hora }}</td>
        <td>{{ indice.leido }}</td>
        
    </tr>   
        
    {% endfor %}
    
</table>
<br>
<br>

{% endblock %}