{% extends "index.html" %} 

{% load static %}

{% block contenido_que_cambia %}
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <br>
                <div>
                    <h3>Sobre mi</h3>
                    <p>Mi nombre es Leo y este es mi blog de entrenamientos </p>
                </div>
                <br>
                
            </div>
        </div>
    </div>
</main>

{% endblock %}