{% extends "index.html" %} <!--ahora inicio sos hijo de template index "extends" lo hace heredar MIN.28.C20-->

{% load static %} <!--siempre se cargan los estaticos-->

{% block titulo %}
<h2 class="mb-5" style= "font-size: 50px; text-align: center; color: white;">FORMULARIO DE REGISTRO</h2>
{% endblock %}
    
{% block contenido_que_cambia %}
    <form action="{% url 'register' %}" method="POST"> {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>

        <input type="submit" value="registrar usuario">
    </form>
    {{ mensaje }}

{% endblock %}


